<div id="flickr_photo_search_page"  class="container" >
	<div id="search_section" style="">
		<input 
		class=""
		type="text" 
		placeholder="Enter a flickr tag to start search..." 
		ng-model="vm.searchInput" 
		ng-model-options="{debounce: 300}" 
		ng-change="vm.searchInputChanged()" />
	</div>

	<div ng-if="vm.isSearching == false && vm.photoListResult.length == 0">
		No result found.
	</div>

	<div ng-if="vm.errorMessage">
		{{vm.errorMessage}}
	</div>

	<div ng-if="vm.isSearching == true">
		Searching...
	</div>
	

	<div id="photo_list_result" ng-if="vm.photoListResult.length > 0" style=" ">
		<div ng-repeat="photoItem in vm.photoListResult track by $index" class="">
			<photo-card data-item="photoItem"> </photo-card>
		</div>
	</div>
</div>